node_modules
.travis.yml
.nyc_output
coverage/
test/*
docs/*
.snyk
.github/
.codeclimate.yml
.husky/
.idea/
*.ts
!dist/**/*.d.mts
!dist/**/*.d.ts
tsconfig.json
tsdown.config.ts
biome.json
typedoc.json
types/
.mocharc.yml
.lintstagedrc.yml
.commitlintrc.yml
.eslintcache
*.log