language: node_js
os: linux
dist: bionic

cache:
 directories:
   - ~/.npm

notifications:
  email: false
node_js:
  - 'node'
  - 'lts/*'
  - 13
  - 12
  - 11
  - 10
  - 9
  - 8

install: npm install

stages:
  - lint
  - test
  - coverage
  - name: release
    if: branch = master && type NOT IN (pull_request)
  - name: docs
    if: branch = master && type NOT IN (pull_request)

jobs:
  include:
    - stage: lint
      script: 
        - npm i -g eslint
        - npm run lint
    - stage: test
      script:
        - npm i -g mocha nyc
        - npm test
    - stage: coverage
      script:
        - npm i -g nyc mocha coveralls
        - npm run coverage
    - stage: release
      node_js: node
      deploy:
        provider: script
        cleanup: false
        skip_cleanup: true
        script: npx semantic-release
    - stage: docs
      script: chmod +x ./.github/update_docs.sh && ./.github/update_docs.sh
