name: Actions
on:
  pull_request:
    branches:
      - master
      - main

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - run: |
          npm ci --omit=optional
          npm install --no-save warframe-worldstate-parser@^5.x warframe-worldstate-data@^3.x
      - uses: actions/cache/save@v4
        with:
          path: |
            ./node_modules/**/*
          key: node-ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  lint:
    needs: install
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - uses: actions/cache/restore@v4
        with:
          path: |
            ./node_modules/**/*
          key: node-ci-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      - name: Run linters
        run: npm run lint
      - name: Run commitlint
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [lint]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install Deps
        run: |
          npm ci --omit=optional
          npm install --no-save warframe-worldstate-parser@^5 warframe-worldstate-data@^3
      - name: Setup WireGuard
        uses: niklaskeerl/easy-wireguard-action@v2
        with:
          WG_CONFIG_FILE: ${{ secrets.WG_CONFIG }}
      - run: npm test
        env:
          CI: true
          parallel: true
      - name: Code Coverage
        run: |
          npm run report
      - name: Coveralls
        if: ${{ github.repository == 'WFCD/worldstate-emitter' }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        uses: coverallsapp/github-action@master
