name: Release
on:
  push:
    branches:
      - master
      - main

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install
        run: |
          npm ci --omit=optional
          npm install --no-save warframe-worldstate-parser@^5.x warframe-worldstate-data@^3.x
      - name: Build
        run: npm run build
      - name: Lint
        run: |
          npm run lint
          npx commitlint --last --verbose
      - name: Setup WireGuard
        uses: niklaskeerl/easy-wireguard-action@v2
        with:
          WG_CONFIG_FILE: ${{ secrets.WG_CONFIG }}
      - name: Test
        run: npm run coverage
        env:
          CI: true
          parallel: true
      - name: Code Coverage
        run: |
          npm run report
      - name: Coveralls
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        uses: coverallsapp/github-action@master
  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - verify
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Install
        run: |
          npm ci --omit=optional
          npm install --no-save warframe-worldstate-parser@^5.x warframe-worldstate-data@^3.x
      - name: Build
        run: npm run build
      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
